.book{
    display: flex;
    height: 100vh;
}

.content{
    flex: 1;
    padding: 30px;
    background-color: #fdfdfd;
    justify-content: left;
}


h1{
    text-align: left;
}

.recipeMenu{
    margin: 0px 10px;
    align-items: left;
}