.sidebar {
  width: 200px;
  background-color: #3d3d5c;
  color: white;
  padding: 20px;
}

h2 {
  font-size: 20px;;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px;
  padding: 10px;
  list-style: none;

}

.sidebar li:hover {
      background-color:  #29293d;

}

a {
  color: white;
  text-decoration: none;
}


.selected{
    background-color:  #29293d;

}